[submodule "basic-android-kotlin-compose-training-dessert-clicker"]
	path = basic-android-kotlin-compose-training-dessert-clicker
	url = https://github.com/google-developer-training/basic-android-kotlin-compose-training-dessert-clicker/tree/starter
